/* roboto-100 - cyrillic_latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    src: url('../fonts/roboto-v30-cyrillic_latin-100.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* roboto-700 - cyrillic_latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/roboto-v30-cyrillic_latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

:root{
    font-size: 62.5%;
    --maincolor1: #2A84EE;
    --maincolor2: #2EB897;
    --maincolor3: #212121;
    --maincolor4: #F5F5F5;
    --maincolor5: #707070;
    --maincolor6: rgb(222, 241, 248);
    --maincolor7: white;
    --maincolor8: orange;
    --maincolor9: purple;
    --maincolor10: rgb(217, 249, 220);
    --maincolor11: #E8F2FC;

}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    box-sizing: border-box;
    max-width: 1440px;
    margin-inline: auto;
    margin-left: 1rem;
}



button{
    border: none;
    background-color: transparent;
}

footer.lastblock{
    background-color: var(--maincolor6);
    border-radius: 1rem;
    margin: 0.7rem 0 0 0;
    padding: 3rem;
    position: sticky;
    top: 100vh;
}

h1{
    font-size: 2rem;
    font-weight: 600;
}

input{
    border-radius:3rem;
    padding: 0.5rem;
    border: none;
    width: 107px;
    height: 28px;
    font-size: 12px;
}

.wbpurple{
    font-weight: 700;
    color: var(--maincolor9);
}

.ozonblue{
    font-weight: 700;
    color: var(--maincolor1);
}



.green{
    color: var(--maincolor2);
    text-decoration: none;
}

.black{
    color: var(--maincolor3);
    text-decoration: none;
}
.blue{
    color: var(--maincolor1);
}

.grey{
    color: var(--maincolor5);
    text-decoration: none;
}

.button_blue{
    color: var(--maincolor4);
    background-color: var(--maincolor1);
    padding: 1rem;
    border-radius: 2rem;
    border: none;
    text-decoration: none;
}

.button_gradient{
    color: var(--maincolor4);
    background: linear-gradient(var(--maincolor2), var(--maincolor1));
    padding: 1rem;
    border-radius: 2rem;
    border: none;
    text-decoration: none;
}


.button_blue2{
    color: var(--maincolor4);
    background-color: var(--maincolor1);
    padding: 1rem;
    margin: 1rem;
    border-radius: 2rem;
    text-decoration: none;
    border: none;
}

.button_blue3{
    color: var(--maincolor4);
    background-color: var(--maincolor1);
    padding: 1rem;
    margin: 1rem;
    border-radius: 2rem;
    text-decoration: none;
    border: none;
}

.table{
    margin: 2rem;
}

.zagalovok{
    font-size: 3rem;
    font-weight: 700;
}



.figure{
    color: var(--maincolor1);
    font-size: 5rem;
    font-weight: 700;
    margin: 0.5rem 0 0 0;
}

.bold_font_h2{
    font-weight: 700;
    font-size: 3rem;
}

.bold_font_h3{
    font-weight: 700;
}

.bold_font_h4{
    font-weight: 700;
}

li {
    color: var(--maincolor2);
}
.text_in_h4{
    color: var(--maincolor5);
}

.green_block{
    background: linear-gradient(var(--maincolor2), var(--maincolor1));
    color: var(--maincolor4);
    border-radius: 1rem;
    padding: 0.4rem 1rem 1rem 1rem;
    margin: 1rem 1rem 1rem 0;
}

blockquote.citata{
    padding: 1rem;
    margin: 0;
}

.green_block2{
    background: linear-gradient(var(--maincolor2), var(--maincolor1));
    color: var(--maincolor4);
    border-radius: 1rem;
    padding: 0.5rem 1rem 0 1rem;
    margin: 1rem 1rem 0 0;
}

.green_month{
    background-color: var(--maincolor2);
    color: var(--maincolor4);
    border-radius: 1rem;
    padding: 0.5rem;
}

.white_month{
    background-color: var(--maincolor7);
    color: var(--maincolor3);
    border-radius: 1rem;
}


.pricefirst{
    margin-bottom: 9rem;
}

.sail{
    background-color: var(--maincolor1);
    padding: 0.5rem;
    border-radius: 1rem;
    color: var(--maincolor4);
    width: max-content;
    position: relative;
    left: 226px;
    bottom: 26px;


}
.start{
    position: relative;
    bottom: 60px;
}

.skidka{
    display: flex;
}

.button_green{
    color: var(--maincolor4);
    background-color: var(--maincolor2);
    padding: 1rem;
    margin: 1rem 1rem 1rem 0;
    border-radius: 3rem;
    text-decoration: none;
    border: none;
    font-weight: 700;
    text-align: center;
}

.button_transparent{
    color: transparent;
    border: 2px solid #2EB897;
    border-radius: 3rem;
    padding: 1rem;
    margin: 2rem 1rem 1rem 0;
    border-radius: 3rem;
    font-weight: 700;
}



.purple{
    color: var(--maincolor9);
    font-weight: 700;
}

.blue_ozon{
    color: var(--maincolor1);
    font-weight: 700;
}

.month{
    border: none;
    white-space: nowrap;
}

.text_in_transparent{
    color: #212121;
    font-weight: 700;
}

details summary{
    list-style: none;
}



img.imggirl{
    display: block;
    justify-content: center;
}

.fleximg{
    display: flex;
    gap: 0.5rem;
    text-align: center;
}


.wrapper{
    margin: 0 auto;
}

.green_block_bigozon{
    background: linear-gradient(var(--maincolor2), var(--maincolor1));
    color: var(--maincolor4);
    border-radius: 1rem;
    padding: 3rem 1rem 5rem 1rem;
    margin: 1rem 1rem 1rem 0;
}

.arrow2{
    margin: 0 0 0 0.5rem;
}

.wrapper1{
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}


.text777{
    max-width: 35rem;

}


.text5{
    max-width: 35rem;
}

.text100{
    max-width: 35rem;
}

.wrappercount{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.wrapperanalitika{
    display: flex;
    flex-direction: column;
}

.left{
    justify-content: start;
    text-align: start;
}
.right{
    justify-content: end;
    text-align: center;
}

.otchetpicture{
    display: flex;
    max-width: max-content;
    flex-wrap: wrap;
    gap: 5rem;
    align-items: center;
}

.rate{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.months{
    display: flex;
    gap: 3rem;
    overflow: scroll;
}

.wrappergrid{
    width: 500px;
    height: 500px;
    display: grid;
    border-radius: 10px;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    grid-template-rows: repeat(6, minmax(0, 1fr));
    background-color: black;
    gap: 1rem;
}

.wrapperflex{
    display: flex;
    justify-content: center;
}

.redcolumn1{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 4;
    background-color: red;
}

.yellowrow1{
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 1;
    background-color: yellow;
}

.redcolumn2{
    grid-column-start: 5;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: red;
}

.whitecolumn1{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
    background-color: white;
}

.whitecolumn2{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 4;
    background-color: white;
}

.whitecolumn3{
    grid-column-start: 5;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 3;
    background-color: white;
}

.whitecolumn4{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 4;
    background-color: white;
}

.whitecolumn5{
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 4;
    background-color: white;
}

.whitecolumn6{
    grid-column-start: 5;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 6;
    background-color: white;
}

.whitecolumn7{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;
    background-color: white;
}

.bluerow{
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 7;
    background-color: blue;
}

.yellowrow2{
    grid-column-start: 5;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 7;
    background-color: yellow;
}

a{
    text-decoration: none;
    color: #212121;
}

.graficibar{
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-template-rows: repeat(3, auto);
    margin: 0 auto;
    grid-auto-flow: dense;
    gap: 1rem;
    grid-template-areas:
    "side first first first first first first"
    "side second second third third four four"
    "side five five five six six six";
}

.bar{
    grid-area: side;
    padding-left: 15rem;
    margin-right: 15rem;
}

.barflex{
    display: flex;
    flex-direction: column;
    gap: 30rem;
}

.graf1 {
    grid-area: first;
  }
  .graf2 {
    grid-area: second;
  }
  .graf3 {
    grid-area: third;
  }
  .graf4 {
    grid-area: four;
  }
  .graf5 {
    grid-area: five;
  }
  .graf6 {
    grid-area: six;
  }


.knopki{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    column-gap: 3rem;
}

.knopki a {
    width: 250px;
}

.bforg{
    border-radius: 3rem;
}

.bodygrid{
    margin-inline: 1rem;
}

.month1{
    padding: 1rem;
}

.trymore{
    display: flex;
    flex-direction: column;
}

.trymore1{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.formflex{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.req {
    color: red;
}



input.formpage{
    border-radius: 1rem;
    padding: 1rem;
    border: 0.1rem solid black;
    width: 330px;
    height: 10px;
    font-size: 14px;
}
*:required {
    background-color: gold;
}
.personal{
    margin-bottom: 1rem;
}

.sendbut{
    width: 80px;
    color: var(--maincolor4);
    background-color: var(--maincolor1);
    border-radius: 2rem;
    text-decoration: none;
    border: none;
}

.resetbut{
    width: 80px;
    color: var(--maincolor4);
    background-color: var(--maincolor1);
    border-radius: 2rem;
    text-decoration: none;
    border: none;
}

select{
    border-radius: 1rem;
    padding: 1rem;
    border: 0.1rem solid black;
    width: 350px;
    height: 40px;
    font-size: 14px;
    display: block;
    background-color: var(--maincolor11);
}


html, body { height: 100%;}

.body > .footer {
  position: sticky;
  top: 100vh;
}

button{
    transition: 1s;
}

.logoform{
    transform: rotate(30deg) skew(20deg, 5deg);;
    scale: 150%;
    margin-top: 8rem;
    margin-left: 3rem;
    margin-bottom: 3rem;
}

.letter {
	font-family: 'Izhitsa';
	color: rgb(255, 0, 0);    
	font-size: 70px;
	line-height: 60px;    
	vertical-align: center;
	display: inline-block;
}

input[type=checkbox]:checked+label {
    text-decoration: line-through;
}

.dl>dd:nth-child(even){
    color: #2EB897;
}

.dl2>dd:nth-child(2n+1){
    color: #2EB897;
}
input.checkbox{
    scale: 70%;
    height: 25px;
    width: 25px;
}

dd{
    display: flex;
    align-items: center;
}

dd::before{
    content: "🛈";
}

.card-container {
    width: 200px;
    height: 300px;
    position: relative;
    margin: 3rem auto;
}

.card {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.card:hover {
    transform: rotateY(180deg);
}

.card-face {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.front {
    background-color: var(--maincolor2);
}

.back {
    background-color: var(--maincolor1);
    transform: rotateY(180deg);
}

.marquee-wrapper{
    background:#2F394C;
    text-align:center;
  }
  .marquee-wrapper .container{
    overflow:hidden;
  }
  .marquee-inner span{
    float:left;
    width:50%;
  }
  .marquee-wrapper .marquee-block{
    --total-marquee-items:5;
    height: 150px;
    width: calc(250px * (var(--total-marquee-items)));
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
    margin: 20px auto;
    background:#1B2531;
    padding: 30px 0;
  }
  .marquee-inner{
    display: block;
    width: 200%;
    position: absolute;
  }
  .marquee-inner p{
    font-weight: 800;
    font-size: 30px;
    font-family: cursive;
  }
  .marquee-inner.to-left{
    animation: marqueeLeft 25s linear infinite;
  }
  .marquee-item{
    width: 230px;
    height: auto;
    display: inline-block;
    margin: 0 10px;
    float: left;
    transition: all .2s ease-out;
    background:#00cc00;
  }
  @keyframes marqueeLeft{
    0% {
      left: 0;
    }
    100% {
      left: -100%;
    }
  }


.bodyindex{
    ::selection{
        color: var(--maincolor2);
        background-color: var(--maincolor1);
    }

    a:hover{
        color: var(--maincolor9);
    }
    button:hover{
        background-color: var(--maincolor9);
        padding: 16px 32px;
        font-size: 16px;
        margin: 4px 2px;
        box-shadow: 3px 3px 3px;
        transform: rotate(360deg);
        transition: 1s;
    }

    a:focus{
        color: var(--maincolor2);
    }
    button:focus{
        background-color: var(--maincolor8);
    }

    a:active{
        color: var(--maincolor1);
    }
    button:active{
        background-color: var(--maincolor3);
    }
}


@media screen and (max-width: 1023.99px){
    .tablebig{
        display: none;
    }
    .closelogo{
        display: none;
    }
    .info{
        display: none;
    }
    .button_gradient{
        display: none;
    }
    .vxod{
        display: none;
    }
    .bigozon{
        display: none;
    }

    .vladislav{
        display: none;
    }

    .otchetpicture{
        display: contents;
    }
    .tablesmall{
        display: flex;
        justify-content: center;
    }

    .difarrows{
        display: none;
    }

    .form{
        border-radius: 2rem;
        padding: 0.5rem;
        border: none;
        text-align: center;
    }

    .orange_block{
        background-color: var(--maincolor8);
        color: var(--maincolor3);
        border-radius: 1rem;
        padding: 1rem 1rem 0 1rem;
        margin-right: 1rem;
    }

    .light_blue{
        background-color: var(--maincolor6);
        border-radius: 1rem;
        padding: 1rem 1rem 1rem 1rem;
        margin: 1rem 1rem 1rem 0;
        
    }
    
    .light_green{
        background-color: var(--maincolor10);
        border-radius: 1rem;
        padding: 1rem 1rem 0.5rem 1rem;
        margin: 1rem 1rem 1rem 0;
    }
    
    
    
}








@media screen and (min-width: 1024px){
    .tablesmall{
        display: none;
    }
    .sixblocks{
        max-width: max-content;
        display: grid;
        grid-template-columns: auto auto auto;
    }
    .wrapper1{
        display: flex;
        justify-content: space-between;
    }
    .menu{
        display: none;
    }
    .info{
        display: flex;
        gap: 5rem;
        align-items: center;
    }

    .difarrows{
        display: flex;
    }

    .logoleft{
        display: flex;
        gap: 5rem;
        align-items: center;
    }

    .menu_entrance{
        display: flex;
        gap: 2rem;
        align-items: center;
    }

    .green_block{
        max-width: max-content;
    }

    .wrapper_bigozon{
        display: flex;
        flex-direction: column;
    }

    .bigozon_text{
        display: flex;
        align-items: center;
    }

    .analitika_bigozon{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .form{
        width: 40rem ;
    }
    ::placeholder{
        font-size: 2rem;
    }

    .month{
        border: 1px solid rgb(183, 183, 183);
        padding: 0 3rem;
    }

    .wrapper_feedback{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .vladislav{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .feedbackarrows{
        display: flex;
        justify-content: space-between;
    }


    .lastwrapper{
        display: flex;
        justify-content: space-between;
    }

    .firstblock{
        display: flex;
        flex-direction: column;
        padding: 1rem;
    }

    .secondblock{
        display: flex;
        justify-content: space-between;
    }

    .thirdblock{
        display: flex;
        flex-direction: column;
    }
    
    .fourthblock{
        display: flex;
        flex-direction: column;
    }

    .lastlastwrapper{
        display: flex;
        justify-content: space-between;
    }

    .form{
        border-radius: 3rem;
        padding-left: 2rem;
        padding-top: 1rem;
        border: none;
    }

    .wrappereconomia{
        display: flex;
        gap: 30rem;
        border-radius: 1rem;
        margin: 1rem 1rem 1rem 0.5rem;
    }   
    .wrappereconomialeft{
        margin-left: 5rem;
    }

    .orange_block{
        background-color: var(--maincolor8);
        color: var(--maincolor3);
        border-radius: 1rem;
        padding: 1rem 1rem 0 1rem;
        display: flex;
    }

    .light_blue{
        background-color: var(--maincolor6);
        border-radius: 1rem;
        padding: 1rem 1rem 1rem 1rem;
        margin: 1rem 1rem 1rem 0;
        
    }
    
    .light_green{
        background-color: var(--maincolor10);
        border-radius: 1rem;
        padding: 1rem 1rem 0 1rem;
        margin: 1rem 1rem 1rem 0;
    }

}