/* roboto-100 - cyrillic_latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    src: url('../fonts/roboto-v30-cyrillic_latin-100.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* roboto-700 - cyrillic_latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/roboto-v30-cyrillic_latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

:root{
    font-size: 62.5%;
    --maincolor1: #2A84EE;
    --maincolor2: #2EB897;
    --maincolor3: #212121;
    --maincolor4: #F5F5F5;
    --maincolor5: #707070;
    --maincolor6: aliceblue;
    --maincolor7: white;
    --maincolor8: orange;
    --maincolor9: purple;
    --maincolor10: #98e3ac;

}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
}


footer{
    background-color: var(--maincolor6);
    border-radius: 1rem;
    padding: 1rem;
}

h1{
    font-size: 2rem;
    font-weight: 600;
}

.light_blue{
    background-color: var(--maincolor6);
    border-radius: 1rem;
    padding: 1rem 0 1rem 1rem;
    margin: 1rem 1rem 1rem 0;
    
}

.green{
    color: var(--maincolor2);
    text-decoration: none;
}

.black{
    color: var(--maincolor3);
    text-decoration: none;
}
.blue{
    color: var(--maincolor1);
}

.grey{
    color: var(--maincolor5);
    text-decoration: none;
}

.button_blue{
    color: var(--maincolor4);
    background-color: var(--maincolor1);
    padding: 1rem;
    border-radius: 2rem;
    border: none;
}

.button_blue2{
    color: var(--maincolor4);
    background-color: var(--maincolor1);
    padding: 1rem;
    margin: 2rem;
    border-radius: 2rem;
    text-decoration: none;
    border: none;
}

.form{
    border-radius: 0.5rem;
    padding: 0.5rem;
}

input{
    border-radius: 1rem;
    border: none;
}

.figure{
    color: var(--maincolor1);
    font-size: 5rem;
    font-weight: 700;
    margin: 0.5rem 0 0 0;
}

.bold_font_h2{
    font-weight: 700;
    font-size: 1.5rem;
}

.bold_font_h3{
    font-weight: 700;
}

.bold_font_h4{
    font-weight: 700;
}

li {
    color: var(--maincolor2);
}
.text_in_h4{
    color: var(--maincolor5);
}

.green_block{
    background-color: var(--maincolor2);
    color: var(--maincolor4);
    border-radius: 1rem;
    padding: 0.5rem 0 0 1rem;
    margin: 1rem 0 0 0;
    padding: 1rem;
}

.green_month{
    background-color: var(--maincolor2);
    color: var(--maincolor4);
    border-radius: 1rem;
}

.white_month{
    background-color: var(--maincolor7);
    color: var(--maincolor3);
    border-radius: 1rem;
}

.light_green{
    background-color: var(--maincolor10);
    border-radius: 1rem;
    padding: 1rem 0 1rem 1rem;
    margin: 1rem 1rem 1rem 0;
}

.sail{
    background-color: var(--maincolor1);
    padding: 0.3rem;
    border-radius: 1rem;
    color: var(--maincolor4);
}

.button_green{
    color: var(--maincolor4);
    background-color: var(--maincolor2);
    padding: 1rem;
    margin: 1rem;
    border-radius: 3rem;
    text-decoration: none;
}

.orange_block{
    background-color: var(--maincolor8);
    color: var(--maincolor3);
    border-radius: 1rem;
    margin: 1rem 0 0 0;
    padding:1rem;
}

.purple{
    color: var(--maincolor9);
    font-weight: 700;
}

.blue_ozon{
    color: var(--maincolor1);
    font-weight: 700;
}